<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=0.8" />
<link rel="icon" type="image/x-icon" href="favicon.ico">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> -->
<link href="bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="all.min.css" rel="stylesheet" type="text/css">
<link href="style.css" rel="stylesheet" type="text/css" />

<head>
  <meta charset="UTF-8">
  <title>Home Upload</title>
  <meta property="og:title" content="HomeUploader Web Client">
  <meta property="og:site_name" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="A file exchange webapp with easy upload and deletion!">
  <meta property="og:type" content="article">
  <meta property="og:image" content="">
</head>

<body style="background-color: black;">
  <div class="titlebar">
    <a href="/history">
      <i class="fa-solid fa-list"></i> History </a>
  </div>
  <div class="jumbotron vh-100">

    <img class="img-fluid rounded mx-auto d-block" src="../icon.png" width="200" height="200" />

    <h1 align="center">Welcome</h1>
    <h3 align="center">Upload on Home Computer</h2>
      <hr>
      <div class="container col-sm-12" id="choose-files" oncopy="return false" oncut="return false"
        onpaste="return false">

        <div>
          <h4 class="text-info">Upload File:</h4>
          <br/>
          <form class="form mx-md-2" align="center" action="/uploadfile" method="post" enctype="multipart/form-data">
            <div class="form-group mx-sm-1">
              <input class="form-control formInput mx-2 mb-lg-1" type="file" name="file" id="uploads" multiple />
              <input class="btn btn-primary blueButton w-auto mx-2 mt-lg-1" type="submit" name="upload"
                value="Upload">
            </div>
          </form>
        </div>

      </div>
  </div>
  <div class="jumbotron h-100">
    <div class="container-fluid mx-auto">
      <a href="https://github.com/SDPMrem71/HomeUploader" class="row">
        <img class="img-fluid mx-auto d-block" alt="GitHub" src="github_logo.png" />
      </a>
      <span class="row badge badge-success mx-auto d-flex" style="width: fit-content;">GitHub</span>
    </div>

    <div class="container">
      <details align="center">
        <summary>
          <b>Disclaimer / License</b>
        </summary> Aerial Laptop, Enbyte, and any other contributors/maintainers are not responsible for any aspect of
        user-hosted instances per "Disclaimer of Warranty" & "Limitation of Liability" in the <a
          href="https://www.gnu.org/licenses/agpl-3.0-standalone.html">AGPL-3.0-only</a>
        <a href="https://spdx.org/licenses/AGPL-3.0-only.html">(SPDX)</a> license.
      </details>
    </div>
  </div>
  <p class="text-center text-muted">
    <small>Uploaded files are occasionally purged and furthermore are subject to manual deletion. The host bears no
      liability for files uploaded and distributed through Filing Saucer, an open source project.</small>
    <br>
  <p class="text-center text-muted">
    <small>If you suspect this application is being abused, please contact the email associated with this site's
      administrator.</small>
    <br>
  <p align="right">
    <a>
      <img src="../btmright.png" width="200" height="200" />
    </a>
  </p>
</body>

</html>